
# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/
ENV/

# Nickel Files
*.nc

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor directories and files
.vscode/
.idea/
*.swp

# Operating system files
Thumbs.db
.DS_Store
